#result{
    margin: 0;
    text-align: center;
   // display: block;
    
    

    img{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin-top: 1rem;
        
    }

    .Buttons{
        margin: 0.5rem 5rem; 
        display: inline-flex;
        
    }
    
    
}
/*#response{
    display: inline-flex;
}
*/

