    #header {
        width: 20rem; 
        height: 6rem;
        margin: 15rem auto 10rem auto;
        background-color: white;
        color:red;
        text-align: center;
        border-radius: 1rem;
    }