    #header {
        width: 20rem; 
        height: 20rem;
        background-color: white;
        color:red;
        text-align: center;
        border-radius: 1rem;
        position: absolute;
        bottom:0;
        right: 0;
        left:0;
        top: 0;
        margin: auto;
    }