#login{
    
        width: 50rem; 
        height: 20rem;
        margin: 15rem auto 10rem auto;
        color:red;
        text-align: center;
        
h1{
      padding-top: 2rem; 
      padding-bottom: 0.5rem; 
}
p{
        color: black;
        padding-top: 0.5rem; 
        padding-bottom: 1rem; 
}
button{
        padding: 0.5rem;
        margin-right: 0.5rem;
}
#login_button:hover{
        background-color:green;
}
#logoff_button:hover{
        background-color:red;
}
}
