#login{
    
        width: 30rem; 
        height: 5rem;
        margin: 15rem auto 10rem auto;
        background-color: black;
        color:red;
        text-align: center;
  
}
#carregando{

        margin: 15rem auto 10rem auto;  
        color:red;
        text-align: center;   
}