#login{
    
        width: 50rem; 
        height: 20rem;
        color:red;
        text-align: center;
        position: absolute;
        bottom:0;
        right: 0;
        left:0;
        top: 0;
        margin: auto;
        
h1{
      padding-top: 2rem; 
      padding-bottom: 0.5rem; 
}
p{
        color: black;
        padding-top: 0.5rem; 
        padding-bottom: 1rem; 
}
button{
        padding: 0.5rem;
        margin-right: 0.5rem;
}
#login_button:hover{
        background-color:green;
        cursor: pointer;
}
#logoff_button:hover{
        background-color:red;
        cursor: pointer;
}
}
