#result{
    margin: 0;
    text-align: center;

    img{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin-top: 1rem;
        transform: translatey(0px);
        animation: float 5s ease-in-out infinite;
        
    }

    @keyframes float {
     0%{
          transform: translatey(0px);
     }
     50%{
          transform: translatey(-20px);
     }
     100%{
          transform: translatey(0px);
     }

    }

   #repos{

        width: 50%; 
        color:black;
        display: inline-flex;
        justify-content: center;
   }
   #starred{
    
        width: 50%; 
        color:black;
        display: inline-flex;
        justify-content: center;
   }   
    
}


