#repos{
    background-color: rgb(228, 220, 220);
    color: black;
    border: 0.2rem solid black;
    border-radius: 20px;
    text-align: left;
    padding: 1.3rem;
   

    h1{
        text-align: center;  
    }
}

#button_repos{
    width: 8rem;
    padding:0.5rem;
    margin: 0.5rem 10rem 0.5rem 10rem;
    background-color: black;
    color: white;
    border: 0.2rem solid black;
    border-radius: 1rem;
    text-align: center;
}
#button_repos:hover{
   opacity: 70%;
   
    
}
