#repos{
    animation: gradient 10s ease infinite;
    background:linear-gradient(-45deg, #ee7252,#e73c7e,#23a6d5,#23d5ab)no-repeat;
    background-size: 300% 300%;
    color: black;
    border: 0.2rem solid black;
    border-radius: 20px;
    text-align: left;
    padding: 1.3rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;   
    margin-bottom: 2rem;

    h1{
        text-align: center;  
    }
}

#button_repos{
    width: 8rem;
    padding:0.1rem;
    display: inline-block;
    margin: 1rem auto 1rem auto;
    background-color: black;
    color: white;
    border: 0.2rem solid black;
    border-radius: 1rem;
    text-align: center;
}
#button_repos:hover{
   opacity: 70%;
   cursor: pointer;      
}

@keyframes gradient {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}